.div_menu{
    background-color: black;
}
.menu a{
    color: white;
}
.slider{
    width: 570px;
    margin-top: 5px;
}
.footer{
    text-align: center;
    background-color: black;
    color: white;
}
.footer-alamat{
    text-align: center;
    background-color: black;
    color: white;
}