.p1{
    background-color: orange;
}
.p2{
    color: white;
    background-color: blue;
}
.p3{
    font-family: monospace;
    font-size: large;
    border: solid grey;
}
.p4{
    font-weight: bold;
    background-color: grey;
}