.container {
    width: 900px;
    height: 700px;
    margin: 0 auto;
}

.satu {
    border-image-source: url(../image/hearts.png);
    border-image-width: 20px;
    border-image-slice: 20 22;
    border-image-outset: 20px;
    background-color: green;
    margin-top: 50px;
    border-style: solid;
    width: 200px;
    height: 200px;
    border-image-repeat: round;
    box-shadow: 25px 25px;
    margin: 20px;
}

.dua {
    border-image-source: url(../image/border1.png);
    border-image-width: 33px;
    border-image-slice: 33 33;
    border-image-outset: 20px;
    background-color: blue;
    margin-top: 50px;
    border-style: solid;
    width: 200px;
    height: 200px;
    border-image-repeat: repeat;
    box-shadow: 15px 15px 15px -10px;
    margin: 20px;
}